<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

	{{ partial "contexxio/banner.html" . }}

	{{ partial "contexxio/submenu.html" . }}

	{{ partial "contexxio/why.html" . }}

	{{ partial "contexxio/what.html" . }}

	{{ partial "contexxio/info.html" . }}

	{{ partial "contexxio/button.html" . }}

	{{ partial "contexxio/extensions.html" . }}

	{{ partial "contexxio/loyalty.html" . }}

	{{ partial "contexxio/patient.html" . }}

	{{ partial "contexxio/pghd.html" . }}

	{{ partial "footer.html" . }}

</body>
</html>