<section id="pghd">
	<div class="container">
        <div class="row-fluid">
           <div class="col-md-12">
			  <div class="section-title"><h1> {{ .Site.Data.contexxio.pghd.title }}</h1></div>
			  <p>{{ .Site.Data.contexxio.pghd.subtitle | safeHTML }}</p>
			    <div class="img-full"> <img src="{{ .Site.Data.contexxio.pghd.image }}" alt="{{ .Site.Data.contexxio.pghd.title }}" />	</div>
	            {{ .Site.Data.contexxio.pghd.description | safeHTML }}                      	            
            </div>
        </div>       
    </div>
</section>