/*
 * This css file includes styles added in the jekyll port of this theme.
 * To find the original style.css that ships with Airspace, read airspace.css
 *
 */

 .italic {
   font-style: italic;
 }

 .bold {
   font-weight: bold;
 }

 .center-text {
   text-align: center;
 }

.post-area {
  padding: 40px;
  width: 100%;
  min-height: 150px;
  background-color: white;
  border-bottom: 1px dotted #ddd;
}

.post-area a:link, .post-area a:visited {
  font-size: 30px;
  color: #333;
}

.post-area a:hover {
  color: #0D0017;
}
/*
5-7-18
*/
p{
  font-size: 14px;
  line-height: 25px;
}
header {
    background: #540701;    
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(162,2,0,1)),to(rgba(162,2,0,0)));
    background-image: -webkit-linear-gradient(left,rgba(162,2,0,0) 0%,rgba(162,2,0,1) 50%,rgba(162,2,0,0) 100%);
    background-image: linear-gradient(left,rgba(162,2,0,0) 0%,rgba(162,2,0,1) 50%,rgba(162,2,0,0) 100%);
    background-image: -webkit-radial-gradient(top center,rgba(162,2,0,1),rgba(162,2,0,0)); 
}
header .navbar-default .navbar-nav li a {
  color: #fff;
  font-size: 14px;
  padding: 5px 26px;
}
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus{
  color: #c0d3dc;
}
.top-bar ul li{  
  display: inline-block;
  margin: 0 5px;
}
.top-bar ul li a i{
  color: #fff;
  font-size: 15px;
}
.top-bar{
  background: #540701;
  padding-top: 5px;
}
.top-bar ul{
  margin:0;
}
.page-title h2{
  margin:30px 0;
  font-size: 33px;
}
h3{
  font-size: 25px;
}
ul li{
  list-style: disc !important;
  padding-bottom: 5px;
  line-height: 25px;
}
ul{
  padding-left: 40px !important;
  margin-top:20px;
  margin-bottom: 10px;
}
img[src*='#left'] { 
    float: left;
    margin-right: 15px;
    margin-top: 15px;
}
img[src*='#right'] { 
    float: right;
}
img[src*='#center'] { 
    display: block; 
    margin: auto; 
}
#page{
  margin-bottom: 20px;
}
#industries {
    padding: 100px 0;
    text-align: center;
}
#industries h4{
  font-size: 25px;
  font-weight: normal;
}
.industries i{
  color: #034462 !important;
  font-size: 60px;
}
.service i{
  color: #034462 !important;
}
#service .service-item h4 {
  padding-top: 20px;
  margin: 0 auto;
  color: #666;
  max-width: 200px;
  text-align: center;
}
#slider:before{
  background: linear-gradient(to left, #b02921, #b02921) !important;
  opacity: 1;
}
#slider{
  background: none;
  padding: 46px 0 100px 0;
}
.carousel-control{
  width: 5%;
}
.carousel-indicators {
    bottom: -65px;
}
.dropdown-menu{
  background:-webkit-gradient(linear,0% 0%,0% 100%,from(#fff),to(#e6e6e6));
  border: 0;
}
.dropdown-menu>li>a{
  color: #666 !important;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}
.third-menu .dropdown-submenu a{
  word-wrap: break-word !important; 
  white-space: normal !important;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus{
  color: #666 !important;
  background-color: transparent;
}
.dropdown-submenu {
  list-style: none !important;
}
.navbar-nav>li>.dropdown-menu,
.third-menu{
  padding: 0 !important;
}
.section-title h2 {
  font-size: 24px;
}
.page-title h2{
  font-size: 24px;  
  font-weight: 600;
}
.post-item a:link, .post-item a:visited{
  font-size: 22px;
}
.post-area a,
.post-area ul li a{
   font-size: 15px !important;
}
.block-area{
  padding: 0px 40px 40px 40px;
  width: 100%;
  float: left;
}
.post-area-title{
  padding-left: 40px;
  padding-bottom: 10px;
}
#team {
  text-align: left;
  padding: 25px 0;
}
#team img{
  width: 100px;
  height: 100px;  
  display: inline-block;
}
.team-item{
    padding-bottom: 50px;
    text-align: center;
}
.team-item span{
  font-style: italic;
}
.team-item h4{
  padding-top: 20px;
  color: #666;
}
#contact-form {
    padding-top: 0px;
}
#feature{  
  background-color: #f3f3f2 !important;
  background-image: none;
}
#intro {
    padding: 25px 0;
}
#page .post-area,
#team .post-area{
  border: 0;
}
#intro .block h1{
  margin: 30px 0;
  font-size: 33px;
  font-weight: 400; 
}

.blog-item div:first-of-type { 
  padding-top: 0; 
}

th {
  text-align: left;
  font-size: 19px;
  font-weight: normal;
}
td, th {
    padding: 10px;
}
.benefits{  
  padding: 35px 0;
  float: left;
  width: 100%;  
}
#why-attest h3,
#what-is-attest h3{
  color: #bb0b30 !important;
  font-weight: bold;
}
#why-cak .benefits,
#why-attest .benefits,
#why-opsfolio .benefits,
.proveit,
.nup,
.easyridesbenefits{
  color: #fff;
  text-align: center;
}
.attest img{
  height: 94px;
}
.proveit p {
  min-height: 100px;
}
.nup p {
  min-height: 100px;
}
.easyridesbenefits p{
  min-height: 130px;
}
.cak p,
.attest p,
.opsfolio-benefit p{
  min-height: 90px;
}
.cak div:nth-child(1),
.attest div:nth-child(1),
.opsfolio-benefit div:nth-child(1),
.proveit div:nth-child(1),
.nup div:nth-child(1),
.easyridesbenefits div:nth-child(1){
  background-color: #2ba7d1;
}
.cak div:nth-child(2),
.attest div:nth-child(2),
.opsfolio-benefit div:nth-child(2),
.proveit div:nth-child(2),
.nup div:nth-child(2),
.easyridesbenefits div:nth-child(2){
  background-color: #d13d4e;
}
#use-cases{
  text-align: center;
}
.cak div:nth-child(3),
.attest div:nth-child(3),
.opsfolio-benefit div:nth-child(3),
.proveit div:nth-child(3),
.nup div:nth-child(3),
.easyridesbenefits div:nth-child(3){
  background-color: #f2573c;
}
.cak div:nth-child(4),
.attest div:nth-child(4),
.opsfolio-benefit div:nth-child(4),
.opsfolio-benefit div:nth-child(4),
.proveit div:nth-child(4),
.easyridesbenefits div:nth-child(4){
  background-color: #81c042;
}
.cak div:nth-child(5),
.opsfolio-benefit div:nth-child(5),
.proveit div:nth-child(5){
  background-color: #0ea27c;
}
.cak div:nth-child(6),
.opsfolio-benefit div:nth-child(6),
.proveit div:nth-child(6){
  background-color: #3088dd;
}
.cak div:nth-child(7),
.proveit div:nth-child(7){
  background-color: #dc7158;
}
.cak div:nth-child(8),
.proveit div:nth-child(8){
  background-color: #c73576;
}
.cak div:nth-child(9),
.proveit div:nth-child(9){
  background-color: #ffb60f;
}
.easyridesbenefits h4{
  min-height: 39px;
  margin-top: 20px;
}
.proveit h4 {
  min-height: 40px;
  margin-top: 20px;
}
#why-cak .benefits h4,
#why-attest .benefits h4{
  padding-top: 25px;
}
#why-cak .benefits p,
#why-attest .benefits p,
.prove-it .benefits p {
  margin-top: 5px;
}
#what-is-contexxio .benefits,
#what-is-fluent .benefits,
#what-is-stature .benefits,
#what-is-opsfolio .benefits,
#what-is-watchtower .benefits{
  background: #f2f2f2 !important;
  padding: 35px;
  margin-bottom: 15px
}
#what-is-contexxio .benefits div{ 
  min-height: 240px;
}
#questionnaire-distribution img,
#collation-and-scoring-of-responses img,
#assessment-and-reporting img,
#nxb img,
#professional-services img,
.reviews .list-block img,
#collaborate img,
#audit-assessment-services img,
#monitor img,
#Medigy img{
  max-width: 100%;
}
.fluent-agent img{
  max-width: 100%;
}
.attest-usecase .benefit-img{
  background: #bb0b30;
  width: 85px !important;
  height: 85px !important;
  display: block;
  margin: auto;
  border-radius: 50%;
  text-align: center;
}
.attest-features{
  text-align: center;
  color: #fff;
}
.attest-features div:nth-child(1){
  background: #f9b294 !important;
}
.attest-features div:nth-child(2){
  background: #f27280 !important;
}
.attest-features div:nth-child(3){
  background: #c16c86 !important;
}
.attest-features div:nth-child(4){
  background: #6d5c7d !important;
}
.attest-features div:nth-child(5){
  background: #335d7e !important;
}
.attest-features p{
  margin-top: 0px;
  line-height: 17px;
  min-height: 90px;
}
.attest-usecase .benefit-img img{
  width: 50% !important;
}
#what-is-attest .benefits p{
  text-align: center;
  margin-top: 10px;
}
.block-divide{
  margin-bottom: 10px;
  padding-bottom: 20px;
  float: left;
  width: 100%;
  border-bottom:1px dotted #ddd;
}
#clients{
  border-bottom: 0;
  padding-bottom: 0 !important;
}
#clients-logo-section{
  padding-bottom: 0;
}
#portfolio-work{
  padding-top: 0;
}
.block-divide img{
  padding: 25px 0;
}
.block-divide h3{
  text-align: center;
}
#clients-logo-section .clients-logo-img{
  padding: 0;
}
.clients-logo-img img{
  max-width: 170px;
  width: 100%;
  -webkit-filter: grayscale(100%) !important;
  -webkit-transition: all .6s ease !important;
  -webkit-backface-visibility: hidden
}
.clients-logo-img{
  border: 1px solid #efefef;
  text-align: center;
  margin-right: 4px;
}
#global-header{  
  background: url(../img/header-bg.jpg) no-repeat;
  background-size: cover !important;
}
#global-header .block-section {
    color: #E3E3E4;
    margin: 0 auto;
    text-align: center;
    max-width: 950px;
}
.block-section a span{
  color: #fff;
}
.banner-icon {
    width: 15%;
    text-align: center;
    display: inline-block;
}
.block-section .banner-icon img{
  height: 70px;
}
.block-section p{
  margin-bottom: 30px;
  margin-top: 30px;
}
#global-header:before{
  opacity: 0;
}
#submenu{
  background-image: radial-gradient(at center top , rgba(162, 2, 0, 1), rgba(162, 2, 0, 0)) !important;
  background-color: #470805 !important;
}
#submenu .navbar-default {
  background-color: transparent; 
  border-color: transparent; 
}
#submenu .navbar{
  margin-bottom:0;
}
#submenu .navbar-default .navbar-brand:hover, 
#submenu .navbar-default .navbar-brand:focus,
#submenu .navbar-default .navbar-brand{
  color: #fff;
}
.scroll-top {
    display: none;
    width: 30px;
    height: 30px;
    background: url(/img/small-arrow-top.png) no-repeat center #070707;
    text-indent: -9999px;
    position: fixed;
    bottom: 0;
    right: 10px;
    z-index: 9999;
}
#submenu .navbar-default .navbar-nav>li>a {
    color: #fff;
}
#submenu .navbar-brand{
  text-transform: uppercase;
}
.solutions h2{
  text-align: center;
}
#Attest .block-divide p{
  text-align: center;
}
.block-item i{
  color: #e54e19 !important;
  font-size: 25px !important;
  width: 35px
}
.block-numb{
  color: #e54e19 !important;
  font-size: 50px !important;
  width: 60px;
  font-weight: normal;
  display: inline-block;
}
.block-item p{
  padding-left: 40px;
  text-align: left !important;
}
.title-icon{
  width: 26%;
  float: left;
}
.title-cnt{
  width: 73%;
  float: left;
}
.title-cnt p{
  padding-left: 0;
}
.title-cnt h4{
  line-height: 25px;
}
#what-is-fluent pre code{
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}
#what-is-fluent pre{
  border: 0;
  background: none;
}
.list-block{
  padding:20px 0;
}
#tracking-libraries-and-dependencies img{
  max-width: 28%;
}
.what-can img{
  max-width: 100%;
  max-height: 240px;
}
#global-header b{
  font-size: 21px;
}
.no-banner-image{
  background: none !important;
  background-color: #b02921 !important;
}
.no-banner-image p{
  color: #ffdabf !important;
}
.no-banner-image h1{
  font-weight: normal !important;
  color: #E3E3E4 !important;
  font-size: 33px !important;
}
.solution-title{
  color: #fff;
  font-size: 28px;
}
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-5 {
    width: 20%;
    float: left;
}
@media (max-width: 767px){
  #global-header {
    padding-top: 30px;
    padding-bottom: 58px;
  }
  .block-divide p img{
    max-width: 100%;
  }
  .feature-content{
    margin-bottom: 20px;
  }
  .banner-icon {
    width: 100%;
    margin-bottom: 25px;
  }
  .icon-title{
    padding-top: 10px;
  }
  .block-section h1{
    font-size: 16px;
  }
  #fluent-agent img{
    width: 100%;
  }
  .list-img img{
    max-width: 100%;
  }
  
}
@media (min-width: 768px) {
.col-sm-5 {
        width: 20%;
        float: left;
    }

}
@media (min-width: 992px) {
    .col-md-5 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5 {
        width: 20%;
        float: left;
    }
    
}

 /* 
shaheer
*/

 .slider-bg {
    background-color: #b02921;
  position:relative;
}
#slider{
    padding-top: 20px !important;
    background-image: -webkit-gradient(linear,0% 0%,100% 0%, from(rgba(236,54,49, 0)),color-stop(50%,rgba( 236,54,49, 1)),to(rgba(236,54,49,0)));
    background-image: -webkit-linear-gradient(left,rgba(236,54,49,0) 0%,rgba(236,54,49,1) 50%,rgba(236,54,49,0) 100%);
    background-image: -moz-linear-gradient(left,rgba(236,54,49,0) 0%,rgba(236,54,49,1) 50%,rgba(236,54,49,0) 100%);
    background-image: -ms-linear-gradient(left,rgba(236,54,49,0) 0%,rgba(236,54,49,1) 50%,rgba(236,54,49,0) 100%);
    background-image: -o-linear-gradient(left,rgba(236,54,49,0) 0%,rgba(236,54,49,1) 50%,rgba(236,54,49,0) 100%);
    background-image: linear-gradient(left,rgba(236,54,49,0) 0%,rgba(236,54,49,1) 50%,rgba(236,54,49,0) 100%);
    background-image: -webkit-radial-gradient(top center,ellipse farthest-side,rgba(236,54,49,1),rgba(236,54,49,0));
    background-image: -moz-radial-gradient(top center,ellipse farthest-side,rgba(236,54,49,1),rgba(236,54,49,0));
    background-image: -ms-radial-gradient(top center,ellipse farthest-side,rgba(236,54,49,1),rgba(236,54,49,0));
    background-image: -o-radial-gradient(top center,ellipse farthest-side,rgba(236,54,49,1),rgba(236,54,49,0));
    background-image: radial-gradient(top center,ellipse farthest-side,rgba(236,54,49,1),rgba(236,54,49,0));
}
.slider-bg .shadow {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(/img/index.png) center top no-repeat;
    z-index: 5;
}
.carousel-indicators {
    bottom: -35px;
}
.carousel-control{bottom:20px !important;}
.carousel {

    position: relative;
    background: url(/img/shadow-2.png) center bottom no-repeat;
    padding-bottom: 20px;

}
.submenu-bg{
  background: url(/img/index.png) center bottom no-repeat; 
  padding-bottom:40px;
}
#global-header{
padding-top: 60px;
padding-bottom: 35px;
}
#global-header h1{font-size:38px;line-height: 1 !important;color: #fff;}
#global-header p{font-size: 18px; font-weight: bold;}
.slider-bg  .carousel-inner .item  img{width:100%;}


@media (min-width: 768px){
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -35px !important;
  }
}
@media (min-width: 1200px){
  #slider .container, #submenu .container {
    width: 1170px !important;
}
}
/* end */
