<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

<!-- 	{{ partial "global-header.html" .Site.Params.blog }}
 -->
	<div class="post">	  
	    <section id="intro" style="border: 1px dotted #ddd;">
		    <div class="container">
		        <div class="row">
		        	<div class="post-area-title page-title">
		        		<h2>{{ .Params.title }}</h2>
		            </div>
		            <div class="blog-item">
					    {{ range .Data.Pages }}					
						<div class="post-area post-item">
							<a href="{{ .Permalink }}" class="bold">{{ .Title }}</a>
							<p>{{ .Content }}</p>
						</div>				    
					    {{ end }}
					</div>
				</div>
			</div>
        </section>
	</div>

	{{ partial "footer.html" . }}

</body>
</html>
