<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

<!-- 	{{ partial "global-header.html" .Site.Params.blog }}
 -->
	<div class="post">	  
	    <section id="cak-intro">
		    <div class="container">
		        <div class="row">		        	
		            <div class="block-area">
					    {{ range .Data.Pages}}				
						<div id="{{ .Slug }}" class="block-divide">					
							<div class="page-title">
		        				<h2>{{ .Title }}</h2>
		            		</div>
							<p>{{ .Content }}</p>							
							{{ if eq .Title "Why Netspective CAK?" }}
								{{ partial "cak/why-cak.html" . }}
							{{ end }}
						</div>									    
					    {{ end }}					    
					</div>
				</div>
			</div>	
        </section>       
	</div>

	{{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
		{{ partial "call-to-action.html" . }}
	{{ end }}

	{{ partial "footer.html" . }}

</body>
</html>
