<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

    {{ partial "global-banner-no-icon.html" . }}

	<div class="post">	  
	    <section id="{{ .Title }}" class="solutions">
		    <div class="container">
		        <div class="row">		        	
		            <div class="block-area"> 	
						<div id="{{ .Slug }}" class="block-divide">			
							{{ .Content }}						
						</div>									    
					  		    
					</div>
				</div>
			</div>	
        </section>       
	</div>

	{{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
		{{ partial "call-to-action.html" . }}
	{{ end }}

	{{ partial "footer.html" . }}

</body>
</html>
