<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

	<!-- Team Start -->
	<section id="team">
	  <div class="container">
	  	<div class="page-title">
                    <h2>{{ .Title }}</h2>
        </div>
	  	<div class="block-area">
		{{ partial "senior-management.html" . }}

		{{ partial "engineering-associates.html" . }}

		{{ partial "corporate-governance.html" . }}
	   </div>
	  </div>
    </section>

	{{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
		{{ partial "call-to-action.html" . }}
	{{ end }}

	{{ partial "footer.html" . }}
</body>
</html>