<div class="team-engineering">
  <!-- Intro -->
  <div class="row">
    <div class="section-title">
      <h2>{{ .Site.Params.team.title2 }}</h2>
    </div>
  </div>
  {{ $baseUrl := .Site.BaseURL }}

  <!-- Content -->
  {{ if gt (len .Site.Data.team.engineering) 0 }}
    <div class="row">
        {{ range sort .Site.Data.team.engineering "weight" }}
          <div class="col-md-5 col-sm-3">
            <div class="team-item">
              <img src="{{ $baseUrl }}{{ .image }}" class="img-responsive img-circle"></i>
              <h4>{{ .name }}</h4>
            </div>
          </div>
        {{ end }}
    </div>
  {{ end }}
</div>