<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-menu">
          <div class="col-md-3">
            <h3>Industries</h3>
            <ul>
              <li><a href="/healthcare">Healthcare</a></li>
              <li><a href="/government">Government</a></li>
              <li><a href="/medical-technology/">Medical Technology</a></li>
            </ul>
            <h3>Solutions</h3>
            <ul><li><a href="/fluent-m2m/">Fluent-M2M</a></li>
              <li><a href="/solutions/fluent/">Fluent-XA</a></li><li><a href="/medigy-ehr-emr/">Medigy – EHR / EMR</a></li>
              <li><a href="/watchtower/">Watchtower</a></li>
              <li><a href="/opsfolio/">Opsfolio</a></li>
              <li><a href="/proveit/">ProveIT</a></li><li><a href="/nup/">Netspective Unified Process</a></li><li><a href="/solutions/cak/">Content Assembler Kit</a></li></ul>
          </div>
          <div class="col-md-3">
          <h3>Technology Services</h3>
          <ul><li><a href="/technology-services/development/">Development</a>
            <ul><li><a href="/technology-services/development/architecture/">Architecture</a>
            </li><li><a href="/technology-services/development/coding-and-engineering/">Coding and Engineering</a></li><li><a href="/technology-services/development/u-i-i-d/">U.I. &amp; I.D.</a></li><li><a href="/technology-services/development/integration">Integration</a></li><li><a href="/technology-services/development/web-2-0/">Web 2.0</a></li><li><a href="/technology-services/development/mobility/">Mobility</a></li></ul></li><li><a href="/technology-services/testing/">Testing</a><ul><li><a href="/technology-services/testing/iv-v">IV &amp; V</a></li><li><a href="/technology-services/testing/test-automation/">Test Automation</a></li><li><a href="/technology-services/testing/compliance">Compliance</a></li></ul></li></ul>
          </div>
          <div class="col-md-3">
            <ul><li><a href="/technology-services/sustenance/">Sustenance</a>
              <ul><li><a href="/technology-services/sustenance/platform/">Platform</a></li>
                <li><a href="/technology-services/sustenance/product-or-application/">Product Or Application</a></li>
                <li><a href="/technology-services/sustenance/legacy-modernization/">Legacy Modernization</a></li></ul>
              </li><li><a href="/technology-services/deployment/">Deployment</a>
              <ul><li><a href="/technology-services/deployment/cloud/">Cloud</a></li>
                <li><a href="/technology-services/deployment/security/">Security</a></li>
                <li><a href="/technology-services/deployment/release-management/">Release Management</a></li></ul></li>
                <li><a href="/technology-services/manage/">Manage</a>
                  <ul><li><a href="/technology-services/manage/infrastructure/">Infrastructure</a></li>
                    <li><a href="/technology-services/manage/data/">Data</a></li>
                    <li><a href="/technology-services/manage/access/">Access</a></li>
                    <li><a href="/technology-services/manage/enterprise-i-t/">Enterprise I.T.</a></li>
                    <li><a href="/technology-services/manage/content/">Content</a></li></ul></li></ul>
          </div>
          <div class="col-md-3">
          <h3>Consulting Services</h3>
          <ul>
            <li><a href="/consulting-services/go-to-market">Go To Market</a></li>
            <li><a href="/consulting-services/business-process-management/">Business Process Management</a></li>
            <li><a href="/consulting-services/strategy/">Strategy</a>
              <ul><li><a href="/consulting-services/strategy/business/">Business</a></li>
                <li><a href="/consulting-services/strategy/innovation/">Innovation</a></li>
                <li><a href="/consulting-services/strategy/technology/">Technology</a></li>
                <li><a href="/consulting-services/strategy/vendor/">Vendor</a></li>
                <li><a href="/consulting-services/strategy/product/">Product</a></li></ul>
              </li><li><a href="/consulting-services/industry-and-technology-research/">Industry and Technology Research</a></li>
              <li><a href="/consulting-services/regulatory-compliance-standards/">Regulatory Compliance &amp; Standards</a></li></ul>
          </div>
        </div>
      </div>
        </div>
        <div class="row">
        <div class="col-md-12 copy-right">
        <p>Healthcare IT Consulting &amp; Medical Technology Solutions - Netspective.com &copy; 1997-2018 Netspective Communications LLC. All Rights Reserved.</p>
      </div>      
    </div>
  </div>
</footer>
