
<header class="register-head">
<div class="container">
  <div class="row">
    <div class="col-md-12">       
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="logo" href="{{ .Site.BaseURL }}">
              <img src="{{ .Site.BaseURL }}img/landinglogo.png" alt="{{ .Site.Title }} Logo">
            </a>
          </div>
            
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
