<!-- footer Start -->
<footer class="register-footer">
<div>
<div class="fdcont">© 1997-2018 Netspective Communications LLC , All rights Reserved.
</div>
<ul class="footul">
<li><a target="_blank" class="fdsocial" href="https://www.facebook.com/Opsfolio-979191755558315/"></a></li>
<li><a target="_blank" class="twsocial" href="https://twitter.com/opsfolio"></a></li>
<li><a target="_blank" class="gpsocial" href="https://plus.google.com/b/116450475670702057679/116450475670702057679"></a></li>
<li><a target="_blank" class="yosocial" href="https://www.youtube.com/channel/UCaRVhOGYYpRbbkKRnO-PxTg"></a></li>
<li><a target="_blank" class="lnsocial" href="https://www.linkedin.com/company/netspective-opsfolio"></a></li>
</ul></div>

</footer>