<div class="team-senior">
  <!-- Intro -->
  <div class="row">
    <div class="section-title">
      <h2>{{ .Site.Params.team.title1 }}</h2>
    </div>
  </div>
  {{ $baseUrl := .Site.BaseURL }}

  <!-- Content -->
  {{ if gt (len .Site.Data.team.senior_management) 0 }}
    <div class="row">
        {{ range .Site.Data.team.senior_management }}
          <div class="col-md-5 col-sm-3">
            <div class="team-item">
              <img src="{{ $baseUrl }}{{ .image }}" class="img-responsive img-circle"></i>
              <h4>{{ .name }}</h4>
              <span>{{ .designation }}</span>
            </div>
          </div>
        {{ end }}
    </div>
  {{ end }}
</div>