<ul data-direction="vertical" class="-accordion -accordion--basic -accordion--vertical">
  <li class="-accordion__panel">
    <span class="-accordion__heading">Section 1<i class="-icon -icon--right"></i></span>
    <div class="-accordion__expander">Content 1.</div>
  </li>
  <li class="-accordion__panel" > 
    <span class="-accordion__heading">Section 2<i class="-icon -icon--right"></i></span>
    <div class="-accordion__expander">Content 2.</div>
  </li>
  <li class="-accordion__panel"> 
    <span class="-accordion__heading">Section 3<i class="-icon -icon--right"></i></span>
    <div class="-accordion__expander">Content 3.</div>
  </li>
</ul>