<div class="form-section-block">

<div class="form-section">
<form action="https://formspree.io/benson.ap@citrusinformatics.com" method="POST">
  <div class="col-md-6">
    <div class="form-group">

    <input type="text" name="Name" placeholder="Name" class="form-control">
     </div>
    <div class="form-group">

    <input type="text" name="Job Title" placeholder="Job Title" class="form-control">
     </div>
    <div class="form-group">
    <input type="text" name="Address" placeholder="Address" class="form-control">
     </div>
    <div class="form-group">
    <input type="text" name="Postal Code" placeholder="ZIP/Postal Code" class="form-control">
     </div>
    <div class="form-group">
    <input type="text" name="Remarks" placeholder="Remarks" class="form-control">
     </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
    <input type="email" name="_replyto" placeholder="Email" class="form-control">
    </div>
    <div class="form-group">
    <input type="text" name="Organization" placeholder="Organization" class="form-control">
    </div>
    <div class="form-group">
    <input type="text" name="Country" placeholder="Country" class="form-control">
    </div>
    <div class="form-group">
    <input type="text" name="Phone Number" placeholder="Phone Number" class="form-control">
    </div>
    <div class="form-group">
    <input type="hidden" name="Subject" id="formtitle" value="" class="form-control">
    </div>
    <div class="form-group">
    <input type="submit" value="Sign Up" class="btn btn-primary register">
    </div>
  </div>

</form>   
</div>
</div>