                
                <form action="https://formspree.io/your@email.com" method="POST">
                    <input type="text" name="name" placeholder="name">
                    <input type="email" name="_replyto" placeholder="email">
                    <input type="text" name="jobtitle" placeholder="Job Title">
                    <input type="text" name="organization" placeholder="Organization">
                    <input type="text" name="address" placeholder="Address">
                    <input type="text" name="country" placeholder="Country">
                    <input type="text" name="postalcode" placeholder="ZIP/Postal Code">
                    <input type="text" name="phonenumber" placeholder="Phone Number">
                    <input type="text" name="remarks" placeholder="Remarks">
                    <input type="submit" value="Sign Up">
                 </form>   